<?xml version="1.0" ?>

<launch>
    <arg name="use_gripper"	default="true" />
    <arg name="use_gazebo"	default="false" />

    <param name="gripper"          	value="$(arg use_gripper)"   type="bool"/> 
    <param name="gazebo"                value="$(arg use_gazebo)"    type="bool"/>
    <param name="gazebo_robot_name"     value="robotis_manipulator_x"/>
    
    <param name="robot_file_path"       value="$(find manipulator_x_manager)/config/MANIPULATOR-X_gripper.robot"	if="$(arg use_gripper)"/>
    <param name="robot_file_path"       value="$(find manipulator_x_manager)/config/MANIPULATOR-X_tooltip.robot"	unless="$(arg use_gripper)"/>

    <param name="offset_file_path"      value="$(find manipulator_x_manager)/config/offset_gripper.yaml"	if="$(arg use_gripper)"/>
    <param name="offset_file_path"      value="$(find manipulator_x_manager)/config/offset_tooltip.yaml"	unless="$(arg use_gripper)"/>

    <param name="init_file_path"        value="$(find manipulator_x_manager)/config/dxl_init_gripper.yaml"	if="$(arg use_gripper)"/>
    <param name="init_file_path"        value="$(find manipulator_x_manager)/config/dxl_init_tooltip.yaml"	unless="$(arg use_gripper)"/>
                	 
    <!-- ROBOTIS MANIPULATOR X Manager -->
    <node name="manipulator_x_manager" pkg="manipulator_x_manager" type="manipulator_x_manager" output="screen"/>
    
    <!-- Robot Model & TF -->
    <!--<include file="$(find manipulator_x_description)/launch/manipulator_x_ctrl.launch"/>-->
</launch>
